@media screen and (min-width:1300px) {
  .cart-wrap {
    width: 100%;
  }

  .cart-header {
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    text-align: center;
  }

  .cart-header h3 {
    padding-top: 60px;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 0;
  }

  .cart-header span {
    color: #a6c76c;
    font-size: 20px;
  }

  .cart-index {
    width: 100%;
    height: auto;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }

  .cart-index-container {
    width: 1188px;
    margin: 0 auto;
    display: flex;
    padding: 20px 0;
  }

  .cart-index li {
    font-size: 14px;
    margin-right: 10px;
  }

  .cart-container {
    width: 1188px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .cart-left {
    width: 60%;
  }

  .cart-right {
    width: 30%;
  }
}